body{
	background-image: url(../img/pattern.png);
	font-family: 'Open Sans', sans-serif;
}

.blue-header{
	margin-top: 20px;
	margin-bottom: 20px;
}

.call-to-action{
	margin-top: 10px;
	margin-bottom: 25px;
	font-size: 40px;
	line-height: 1em;
}

.bbinfo{
	margin-top: 25px;
}

.page-footer hr{
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0 5px 0;
}

.page-footer{
	margin-bottom: 20px;
}